{% load static %}
{% comment %} You need this load static line to use css files {% endcomment %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% comment %}
 This is how you load style sheets with django 
# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/3.2/howto/static-files/
{% endcomment %}
<link rel="stylesheet" href="{% static 'battle/css/styles.css' %}">
<title> Fight </title>
</head> 
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <p>Overall <span id="total_wins">{{ total_wins }}</span> - <span id="total_losses">{{ total_losses }}</span></p>
                <p id="personal_stats" style="display: none;"><span id="name"></span> <span id="personal_wins"></span> - <span id="personal_losses"></span></p>
                <form action="" id="playerForm">
                    {% csrf_token %}
                    <label for="playerName">Choose Your Fighter</label>
                    <input type="text" id="playerName" name="playerName" value="{{ player_name }}">
                    <input id="player-submit" type="submit" value="Submit">
                </form>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="health-box">
                <div class="health-bar-red"></div>
                <div class="health-bar-blue"></div>
                <div class="health-bar"></div>
                <div class="health-bar-text"></div>
            </div>
            <p id="health_player" style="display:none;"></p>
            Player Spec<p id="spec_player" style="color: blue"></p>
            <p id="poison_damage_player" hidden="true"></p>
            <p id="frozen_player" hidden="true"></p>
        </div>
        <div class="col">
            <div class="log"></div>
            <form action="" id='weaponForm'>
                {% csrf_token %}
                <label id="weapon-label" for="weapon" style="display:none;">Weapon:</label>
                <input type="text" id="weapon-input" name="weapon" style="display:none;"><br><br>
                <input id="battleButton" type="submit" value="Begin" style="display:none;">
            </form>
        </div>
        <div class="col">
            <div class="enemy-health-box">
                <div class="enemy-health-bar-red"></div>
                <div class="enemy-health-bar-blue"></div>
                <div class="enemy-health-bar"></div>
                <div class="enemy-health-bar-text"></div>
            </div>
            <p id="health_enemy" style="display:none"></p>
            Enemy Spec<p id="spec_enemy" style="color: blue"></p>
            <p id="poison_damage_enemy" hidden="true"></p>
            <p id="frozen_enemy" hidden="true"></p>
        </div>
    </div>
    <div id="specialWeapons" class="row">
        <div class="col">
            <div class="text-center">
                <h3 style="cursor:pointer">
                    Special Weapons
                </h3>
            </div>
        </div>
    </div>
    <section id="specialSection" style="display:none">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    MAUL
                </h3>
                <p>
                    Melee weapon.<br> Requires 100 Spec.<br> 1-13% CHANCE = 250-375 DMG || 14-74% CHANCE = 376-600 DMG || 75-100% CHANCE = 601-750 DMG
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    DBOW
                </h3>
                <p>
                    Ranged weapon.<br> Requires 75 Spec.<br> 1-15% CHANCE = 200-240 DMG || 16-70% CHANCE = 441-600 DMG || 71-100% CHANCE = 601-700 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    KORASI
                </h3>
                <p>
                    Ranged weapon.<br> Requires 75 Spec.<br> 1-10% CHANCE = 1-350 DMG || 11-71% CHANCE = 351-650 DMG || 72-100% CHANCE = 651-710 DMG
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    MSB
                </h3>
                <p>
                    Ranged weapon.<br> Requires 50 Spec.<br> 1-20% CHANCE = 150-300 DMG || 21-81% CHANCE = 300-460 DMG || 82-100% CHANCE = 460-600 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    AGS
                </h3>
                <p>
                    Melee weapon.<br> Requires 50 Spec.<br> 1-20% CHANCE = 150-200 DMG || 21-61% CHANCE = 201-400 DMG || 62-100% CHANCE = 401-510 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    ZGS
                </h3>
                <p>
                    Melee weapon.<br> Requires 50 Spec. Freezes opponent.<br> 1-20% CHANCE = 1-220 DMG || 21-80% CHANCE = 221-330 DMG || 81-100% CHANCE = 331-420 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    DCLAWS
                </h3>
                <p>
                    Melee weapon.<br> Requires 50 Spec.<br> 1-20% CHANCE = 4-200 DMG || 21-100% CHANCE = 204-520 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    SGS
                </h3>
                <p>
                    Melee weapon.<br> Requires 50 Spec.<br> 1-15% CHANCE = 50-200 DMG || 16-70% CHANCE = 201-350 DMG || 71-100% CHANCE = 351-450 DMG
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    DDS
                </h3>
                <p>
                    Melee weapon.<br> Requires 25 Spec.<br> 1-20% CHANCE = 2-200 DMG || 21-71% CHANCE = 201-350 DMG || 72-100% CHANCE = 352-460 DMG
                </p>
            </div>
        </div>
    </div>
    </section>
    <div id="normalWeapons" class="row">
        <div class="col">
            <div class="text-center">
                <h3 style="cursor:pointer">
                    Normal Weapons
                </h3>
            </div>
        </div>
    </div>
    <section id="normalSection" style="display:none">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    DBOLT
                </h3>
                <p>
                    Ranged weapon.<br> 1-12% CHANCE = 1-175 DMG || 13-80% CHANCE = 176-374 DMG || 81-100% CHANCE = 375-600 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    PUNCH
                </h3>
                <p>
                    Melee weapon.<br> 1-20% CHANCE = 1-125 DMG || 21-100% CHANCE = 126-225 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    SMOKE
                </h3>
                <p>
                    Ranged weapon.<br> 70% poison chance.<br> 1-20% CHANCE = 1-200 DMG || 21-70% CHANCE = 201-300 DMG || 71-100% CHANCE = 301-350 DMG
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    SURGE
                </h3>
                <p>
                    Ranged weapon.<br> Can only be used if your hp is 250 or less.<br> 1-40% CHANCE = 200-350 DMG || 41-100% CHANCE = 351-500 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    ICE
                </h3>
                <p>
                    Ranged weapon.<br> Freezes opponent.<br> 1-20% CHANCE = 1-100 DMG || 21-81% CHANCE = 101-250 DMG || 82-100% CHANCE = 251-330 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    STORM
                </h3>
                <p>
                    Ranged weapon.<br> 1-100% CHANCE = 100-330 DMG
                </p>
            </div>
        </div>
    </div>
    </section>
    <div id="healingWeapons" class="row">
        <div class="col">
            <div class="text-center">
                <h3 style="cursor:pointer">
                    Healing Weapons
                </h3>
            </div>
        </div>
    </div>
    <section id="healingSection" style="display:none">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3>
                    SGS
                </h3>
                <p>
                    Melee weapon.<br> Requires 50 Spec.<br> 1-15% CHANCE = 50-200 DMG || 16-70% CHANCE = 201-350 DMG || 71-100% CHANCE = 351-450 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    BLOOD
                </h3>
                <p>
                    Ranged weapon.<br> 100% chance to heal 40% of damage dealt.<br> 1-20% CHANCE = 1-100 DMG || 21-81% CHANCE = 101-280 DMG || 82-100% CHANCE = 281-330 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    GUTH
                </h3>
                <p>
                    Melee weapon.<br> 40% chance to heal 100% of damage dealt.<br> 1-20% CHANCE = 1-149 DMG || 21-81% CHANCE = 150-275 DMG || 82-100% CHANCE = 276-320 DMG
                </p>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <h3>
                    ONYX
                </h3>
                <p>
                    Ranged weapon.<br> 50% chance to heal 50% of damage dealt.<br> 1-20% CHANCE = 1-125 DMG || 21-61% CHANCE = 126-275 DMG || 62-100% CHANCE = 276-375 DMG
                </p>
            </div>
        </div>
    </div>
    </section>
</div>
{% comment %} These variables are initialized as empty
later they are updated using jquery

With jquery, you can grab and manipulate elements.
To grab an element by its id, use the # symbol.
To grab an element by its class, use the . symbol.
To grab an element by its tag, use the tag name.
    
    To change the text of an element, use the .text() method.
    To change the html of an element, use the .html() method.
    To change the css of an element, use the .css() method.
    To change the value of an element, use the .val() method.
    To change the src of an element, use the .attr() method.
    ^^^ copilot wrote all that so I assume it works

Example:
If you want to grab the player health and update it
you would do this:
    
    $("#playerHealth").text(1002);
    
    this grabs the element with id playerHealth and changes its text to 1002


 {% endcomment %}
{% comment %}  here is an example of using a class loaded from stylesheet located in battle/static/battle/css {% endcomment %}

<script>
// when element with id specialWeapons is clicked
$("#specialWeapons").click(function(){
    // hide/show section with id specialSection
    $("#specialSection").toggle();
});
// when element with id normalWeapons is clicked
$("#normalWeapons").click(function(){
    // hide/show section with id normalSection
    $("#normalSection").toggle();
});
// when element with id healingWeapons is clicked
$("#healingWeapons").click(function(){
    // hide/show section with id healingSection
    $("#healingSection").toggle();
});
</script>
<script src="{% static 'battle/js/healthBar.js' %}"></script>
<script>
    $("#playerForm").submit(function(e){
        e.preventDefault();
        let playerName = $("#playerName").val();
        let csrftoken = "{{ csrf_token }}";
        // do ajax request to create player object and update html with player name
        $.ajax({
            url: "{% url 'get-player' %}",
            type: "POST",
            headers: {'X-CSRFToken': csrftoken },
            data: {
                "name": playerName
            },
            success: function(data){
                let personal_losses = data.personal_losses;
                let personal_wins = data.personal_wins;
                // update personal wins and losses and show html
                $("#personal_losses").text(personal_losses);
                $("#personal_wins").text(personal_wins);
                $('#name').text(playerName);
                $('#personal_stats').css('display', 'block');

                // hide form
                $("#playerForm").css("display", "none");

                // show battle button
                $("#battleButton").css("display", "block");

            }
        });
    });
</script>
<script>  
    $("#weaponForm").submit(function(e){
        // hide weapon input and label
        $("#weapon-label").css("display", "none");
        $("#weapon-input").css("display", "none");
        e.preventDefault();
        let button_val = $("#battleButton").val();
        let csrftoken = "{{ csrf_token }}";

        // if button is "Begin", set url variable and send data to url with .ajax
        if (button_val == "Begin"){
            // apply change, only needed if starting game after ending one
            $(".log").empty()
            applyChange(1500, false)
            applyChange(1500, true)
            // set url to start battle api endpoint
            // this will return environment variables after the bot has made its first move
            $("#battleButton").val("Choose Weapon");
            var url = "{% url 'start-battle' %}";
        }
            
        else if (button_val == "Choose Weapon"){
            var url = "{% url 'attack' %}";
        }
        $.ajax({
            type: "POST",
            url: url,
            headers: {'X-CSRFToken': csrftoken },
            data: {
                // send environment variables to back end for updating and opponent attack
                weapon: $('#weapon-input').val(),
                health_player: $('#health_player').html(),
                
                health_enemy: $('#health_enemy').html(),
                spec_player: $('#spec_player').html(),
                spec_enemy: $('#spec_enemy').html(),
                poison_damage_player: $('#poison_damage_player').html(),
                poison_damage_enemy: $('#poison_damage_enemy').html(),
                frozen_player: $('#frozen_player').html(),
                frozen_enemy: $('#frozen_enemy').html(),
            },
            success: function(data){
                if (data.error == 'Illegal weapon'){
                    $("#weapon-label").css("display", "block");
                    $("#weapon-input").css("display", "block");
                    $('.log').append('<p> You cannot use that weapon </p>')
                }
                else {
                    // update html with new values if weapon is legal
                    $('.log').append('<p>', data.player_attack_log, '</p>');
                    $('#spec_player').html(data.spec_player)
                    $('health_player').html(data.health_player_before_attack)
                    applyChange(data.health_player_before_attack)
                    $('#health_enemy').html(data.health_enemy)
                    applyChange(data.health_enemy, true)
                    $('#poison_damage_enemy').html(data.poison_damage_enemy)
                    $('#frozen_enemy').html(data.frozen_enemy)
                    // wait for one second
                    setTimeout(function(){
                        // update html with new values
                        $('.log').append('<p>', data.enemy_attack_log, '</p>');
                        $('#spec_enemy').html(data.spec_enemy)
                        $('#health_player').html(data.health_player)
                        applyChange(data.health_player, false)
                        $('#poison_damage_player').html(data.poison_damage_player)
                        $('#frozen_player').html(data.frozen_player)
                        $("#weapon-label").css("display", "block");
                        $("#weapon-input").css("display", "block");
                        if (data.player_attack_log == 'You have been defeated, you lose!' || data.enemy_attack_log == 'Enemy has been defeated, you win!')
                            {
                                if (data.player_attack_log == 'You have been defeated, you lose!')
                                    {
                                        console.log('player lost')
                                        var win = false;
                                    }
                                else
                                    {
                                        console.log('player won')
                                        var win = true;
                                    }
                                // update stats with ajax request
                                $.ajax({
                                    type: "POST",
                                    url: "{% url 'update-stats' %}",
                                    headers: {'X-CSRFToken': csrftoken },
                                    data: {
                                        win: win,
                                        health_player: data.health_player,
                                        name: $('#name').text(),
                                    },
                                    success: function(data){
                                        // update html with new values
                                        $('#total_wins').html(data.total_wins)
                                        $('#total_losses').html(data.total_losses)
                                        $('#personal_wins').html(data.personal_wins)
                                        $('#personal_losses').html(data.personal_losses)
                                    }
                                })
                                // update button_val html to "Attack"
                                $("#battleButton").val("Begin")
                                // show weapon input box and label
                                $("#weapon-label").hide()
                                $("#weapon-input").hide()
                            }
                    }, 1000)
                }                
            }
        })        
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</body>
</html>